<div class="container">
  <div class="photo-container">
    <div class="list-photo">
      <img *ngFor="let image of images" src="{{image.url}}" (mouseover)="changeMainImage($event)" (click)="changeMainImage($event)"/>
    </div>
    <div class="main-photo">
      <img src="{{mainImage}}">
    </div>
  </div>
  <div class="text-contaier">
    <div>{{item.name}}</div>
    <div>{{item.category}}</div>
    <div>{{item.description.price}} Lei</div>
    <form (ngSubmit)="onSubmit()" #formElement="ngForm">
    <div>{{item.description.color}}</div>
    <div>Cantitate
      &nbsp;<i class="fas fa-minus" (click)="value('minus')"></i>&nbsp;
      <input type="number" id="quantity" name="quantity" min="1" max="5" value="quantity"
             [ngModel]="quantity"   #quantityModel="ngModel" required >&nbsp;
      <i class="fas fa-plus" (click)="value('plus')"></i>
    </div>
      <span *ngIf = "quantityModel.hasError('required')" class = "help-block">Productul trebuie să conțină cel puțin o unitate</span>
      <button type="submit" [disabled]="!formElement.valid">Adaugă</button>
    </form>
    <div class="description">
      <div>Descriere:</div>
      <div>Aici este textul de descriere a unui obiect ahahaahha</div>
    </div>
  </div>
  <div class="main__container">
    <div class="carousel__container">
      <img src="{{mainImage}}"/>
    </div>
    <div class="dot-container">
      <span *ngFor="let image of images; let i = index" class="dot" (click)="changeImageCaurusel(i)"></span>
    </div>
  </div>
</div>



