<nav>
  <input type="checkbox" id="res-menu">
  <label for="res-menu">
    <i class="fas fa-bars" id="sing-one"></i>
    <i class="fas fa-times" id="sing-two"></i>
  </label>
  <h1>Trilum</h1>
  <ul>
    <li><a href="#">Meniu</a></li>
    <li><a href="#">Oferte</a></li>
    <li><a href="#">Contactează-ne</a></li>
    <li><a href="#">Despre noi..</a></li>
    <li class="search-icon">
      <input type="search" placeholder="Search">
      <label class="icon">
        <span class="fas fa-search"></span>
      </label>
    </li>
  </ul>
</nav>


