<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Opiati Rabota</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container-card">
  <a routerLink="category/Lustre"><div class="card">
    <div class="card-image">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />
    </div>
    <div class="card-text">
      Lustre
    </div>
  </div></a>
  <a href="#"><div class="card">
    <div class="card-image">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />
    </div>
    <div class="card-text">
      Lustre
    </div>
  </div></a>
  <a routerLink="/oferte"><div class="card">
    <div class="card-image">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />
    </div>
    <div class="card-text">
      Lustre
    </div>
  </div></a>
  <a href="#"><div class="card">
    <div class="card-image">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />
    </div>
    <div class="card-text">
      Lustre
    </div>
  </div></a>
  <a href="#"><div class="card">
    <div class="card-image">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />
    </div>
    <div class="card-text">
      Lustre
    </div>
  </div></a>
  <a href="#"><div class="card">
    <div class="card-image">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />
    </div>
    <div class="card-text">
      Lustre
    </div>
  </div></a>

</div>

</body>
</html>
