<div class="box">
  <div class="box_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5439.447886557426!2d28.857133955800027!3d47.02602347355513!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27c0bdd55687e0ed!2sFidesco!5e0!3m2!1sru!2s!4v1598796770482!5m2!1sru!2s"
            tabindex="0" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <div class="box_photo">
    <img src="https://images.unsplash.com/photo-1555445091-5a8b655e8a4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
  </div>
  <div class="map_text">
    Strada Calea Moşilor 4, Chișinău
    <div>
    </div>
  </div>
  <div class="photo_text">
    Chioscul nr 123
    <div class="text-padding">
      Luni - Vineri 9:00 - 19:00
    </div>
    <div>
      Telefon - 079984282 Iurie
    </div>
  </div>
</div>
