*{
  padding-left: 7px;
}
.container{
  display: flex;
  flex-direction: column;
}
.filter__name{
  padding-left: 3px;
  padding-top: 15px;
  color: #333;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .05em;
  font-style: normal;
  font-weight: 700;
  border-bottom: 0.3px solid #b6b6b6;
}
.filter__option{
  padding-top: 10px;
  padding-bottom: 10px;
}
.checkbox__name{
  border-bottom: 0.3px solid #b6b6b6;
  color: #333;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .05em;
  font-style: normal;
  font-weight: 700;
}
.option-checkbox{
  cursor: pointer;
}
.checkbox__input{
  color: #b6b6b6;
  cursor: pointer;
}
.checkbox__label{
  font-weight: 400;
  font-size: 15px;
  color: #b6b6b6;
  cursor: pointer;
}
.checkbox__label:hover{
  text-decoration: underline;
}
.optionNumber__input{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: #b6b6b6;
}
input[type=text]{
  height: 25px;
  width: 60px;
  text-align: center;
  font-size:13px;
}

/*Containerul la butoanele de filtru*/
.filter__button{
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #b6b6b6;
  display: grid;
  grid-template-columns:65% 25%;
  grid-template-rows: 40px;
}
/*Icon la butoane*/
.card-icon{
  color: #b6b6b6;
  font-size: 40px;
  align-self: center;
  padding-bottom: 10px;
}
/*Cum sa fie filtrele afisate*/
.filter-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 7vw;
  margin:0 7vw;
}
/*Textul la filtre*/
.filter__text{
  padding-left: 5px;
  align-self: center;
  color: #333;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .05em;
  font-style: normal;
  font-weight: 700;
}

.sortBy-container{
  margin-top: 3px;
  display: grid;
  grid-template-areas: ". sortByContent .";
  grid-template-columns: 7vw auto 7vw;
  grid-template-rows: auto;
}
.sortBy__content{
  grid-area: sortByContent;
  border: 1px solid #b6b6b6;
}
.sortBy__element {
  color: #333;
  font-size: 15px;
  letter-spacing: .05em;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0px 10px 20px;
}

/*Containerul de baza care să facă overflow la tot */
.filterShow__container{
  display: grid;
  grid-template-columns:100vw;
  background-color: white;
  top: 50px;
  position: absolute;
  border: 1px solid #b6b6b6;
  z-index: 4;
}
/*Containerul intern cu spatii intre ele, unde să fie textul*/
.filterShow__textContainer{
  display: grid;
  grid-template-columns: 1fr;
  margin:0 7vw;
  position: static;
}
/*Containerul cu textul principal (Filter)*/
.filterShow__mainText{
  display: grid;
  border-bottom: 1px solid #b6b6b6;
  grid-template-columns: 90% 10%;
}

/*Numele la Filter*/
.filterShow-name{
  padding: 10px;
  justify-self: center;
  color: #333;
  text-transform: uppercase;
  font-size: 19px;
  font-style: normal;
  font-weight: 900;
}
/*Icon la filter*/
.filterShow__icon{
  padding: 10px;
  font-size: 19px;
  color: #333;
  justify-self: end;
  cursor:pointer;
}
/*Containerul pentru restul elementelor*/
.filterShow__filtersContainer{
  display: grid;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid #b6b6b6;
  grid-template-columns: 90% 10%;
  height: 35px;
}
/*Textul la restul elementelor*/
.filterShow__filtersText{
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .05em;
  font-style: normal;
  font-weight: 700;
}
/*Icon la restul elementelor*/
.filterShow__filtersIcon{
  font-size: 16px;
  color: #333;
  justify-self: end;
  cursor:pointer;
}

/*Contentul din fitru elementului*/
.filterShow__content{
  display: grid;
  border: 1px solid #b6b6b6;
  margin-bottom: 15px;
  padding: 3px;
}
.filterShow__checkBoxInput{
  color: #b6b6b6;
  cursor: pointer;
}
.filterShow__checkBoxLabel{
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}
.filterShow__checkBoxLabel>hover{
  text-decoration: underline;
}
.filterShow__button{
  height: 40px;
  margin:15px 0;
  background-color: yellowgreen;
  font-size: 16px;
  color: white;
}


@media (max-width: 800px) {
  .container{
    display: none;
  }
}
@media (min-width:800px) {
  .filter-container{
    display: none;
  }
  .filterShow__container{
    display: none;
  }
}
