<div class="container">
  <div class="filter__name">
    Filter By
  </div>

  <div class="filter__option">
    <div class="checkbox__name">
      Gender
    </div>
    <div class="option-checkbox">
      <input class="checkbox__input" type="checkbox" id="male" name="male" value="Male">
      <label class="checkbox__label" for="male">Male</label>
    </div>
    <div class="option-checkbox">
      <input class="checkbox__input" type="checkbox" id="woman" name="woman" value="Woman">
      <label class="checkbox__label" for="woman">Woman</label>
    </div>
  </div>

  <div class="filter__option">
    <div class="checkbox__name">
      Preț
    </div>
    <div class="optionNumber__input">
      <input type="text">
      &nbsp;to&nbsp;
      <input type="text">
    </div>
  </div>
</div>

<div class="filter-container">
  <div class="filter__button">
    <div class="filter__text">Hellow</div>
    <div *ngIf="edited" (click)="dropDownFilter()" class="card-icon">
      &#x02259;
    </div>
    <div  *ngIf="!edited" (click)="dropDownFilter()" class="card-icon">
      &#x0225A;
    </div>
  </div>
  <div class="filter__button">
    <div class="filter__text" (click)="dropDownFilterShow()" >Nihao</div>
  </div>
</div>
<div *ngIf="edited"  class="sortBy-container">
  <div class="sortBy__content">
    <div class="sortBy__element">
      Rank
    </div>
  </div>
</div>

<div *ngIf="filter1" class="filterShow__container">
  <div class="filterShow__textContainer">

    <div class="filterShow__mainText">
      <div class="filterShow-name">Filter</div>
      <div class="filterShow__icon"><i class="fas fa-times" (click)="dropDownFilterShow()"></i></div>
    </div>
    <div class="filterShow__filtersContainer">
      <div class="filterShow__filtersText">Gender</div>
      <div class="filterShow__filtersIcon"><i class="fas fa-arrow-down" (click)="dropDownContent('gender')"></i></div>
    </div>
    <div *ngIf="gender" class="filterShow__content">
      <div class="filterShow__contentElement">
        <input class="filterShow__checkBoxInput" type="checkbox" id="woman" name="woman" value="Woman">
        <label class="filterShow__checkBoxLabel" for="woman">Woman</label>
      </div>
    </div>


  <button type="button" onclick="alert('Hello world!')" class="filterShow__button">Găsește</button>
  </div>
</div>
