<div id="text">Despre noi</div>
<div id="about">
  <div id="about__container">
    <div id="about__main"> Informații generale </div>
    <div id="about__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lectus in leo tempor fermentum sit amet sit amet dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc laoreet sem sed mauris dapibus, at fermentum odio pulvinar. Vestibulum a pretium quam. Praesent sit amet consectetur sapien, vitae suscipit elit. Nulla fringilla ligula at lorem pharetra scelerisque. Quisque bibendum nisl tellus, eu tincidunt ex tincidunt eget. Nulla consectetur posuere nibh, finibus consectetur leo mollis vel. Nam tempus est non condimentum ultrices. Phasellus nec euismod felis.  </div>
  </div>
  <div>
    <img src="https://c.files.bbci.co.uk/CF3C/production/_111925035_penguino.jpg">
  </div>
</div>
<div id="contact">
  <div></div>
  <div>
    <img src="https://www.sciencealert.com/images/articles/processed/emperor_penguin_shutterstock_1024.jpg">
  </div>
  <div id="contact__container">
    <div id="contact__main"> Informații generale </div>
    <div id="contact__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lectus in leo tempor fermentum sit amet sit amet dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc laoreet sem sed mauris dapibus, at fermentum odio pulvinar. Vestibulum a pretium quam. Praesent sit amet consectetur sapien, vitae suscipit elit. Nulla fringilla ligula at lorem pharetra scelerisque. Quisque bibendum nisl tellus, eu tincidunt ex tincidunt eget. Nulla consectetur posuere nibh, finibus consectetur leo mollis vel. Nam tempus est non condimentum ultrices. Phasellus nec euismod felis.  </div>
  </div>
</div>
<div id="question">
  <div id="question__container">
    <div id="question__main"> Informații generale </div>
    <div id="question__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lectus in leo tempor fermentum sit amet sit amet dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc laoreet sem sed mauris dapibus, at fermentum odio pulvinar. Vestibulum a pretium quam. Praesent sit amet consectetur sapien, vitae suscipit elit. Nulla fringilla ligula at lorem pharetra scelerisque. Quisque bibendum nisl tellus, eu tincidunt ex tincidunt eget. Nulla consectetur posuere nibh, finibus consectetur leo mollis vel. Nam tempus est non condimentum ultrices. Phasellus nec euismod felis.  </div>
  </div>
  <div>
    <img src="https://c.files.bbci.co.uk/CF3C/production/_111925035_penguino.jpg">
  </div>
</div>
<app-footer></app-footer>
