.container-main{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
}

.container-card{
  margin: auto;
  padding: 1.6em;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-row-gap: 1.2em;
  grid-column-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-area: contik;
}
.card{
  display: grid;
  grid-template-columns:20% 60% 20%;
  grid-template-areas:
". card-image ."
"card-text card-text card-icon";
  grid-template-rows:65% 35%;
}

.card-image{
  margin: 15px 15px 0px 15px;
  grid-area: card-image;
}
.card-image>img{
  width: 100%;
  height: 100%;
}
.card-image>img:hover{
  cursor: pointer;
  transition: transform .3s ease;
  transform: scale(1.1);
}
.card-text{
  padding-top: 10px;
  padding-left: 15px;
  grid-area: card-text;
  text-transform: uppercase;
  font-size: 15px;
  color: #c0c0c0;
  letter-spacing: .05em;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 3px;
  /*text-decoration: none;*/
}
.card-text>a{
  color: #6c757d !important;
  text-decoration: none;
}
.first-text {
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
}
.second-text{
  font-size: 10px;
  font-weight: 300;
  text-transform: none;
}
.price-text{
  font-size: 13px;
  font-weight: 700;
  text-transform: none;
}
.card-icon >a {
  text-decoration: none;
  color: #b6b6b6;
}
.card-icon {
  display: none;
  align-self: center;
  justify-self: center;
  grid-area:card-icon;
  color: #b6b6b6;
  font-size: 30px;
}

.card-text:hover{
  text-decoration: underline;
}
.card:hover{
  border: 0.3px solid #b6b6b6;
}
.card:hover .card-icon {
  display: block;
}
@media (max-width: 800px) {
  .container-card{
    grid-template: auto / 1fr;
    padding: 1.0666666667em;
    justify-items: center;
  }
  .container-main{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "test123"
      "contik";
  }
}
@media (max-width: 1200px) {
  .card{
    grid-template-rows:50% 50%;
    margin-bottom: 10px;
  }
}
@media (max-width: 1500px) {
  .card{
    grid-template-rows:50% 50%;
    margin-bottom: 10px;
  }
}
