<nav>
  <input type="checkbox" id="res-menu">
  <label for="res-menu">
    <i class="fas fa-bars" id="sing-one"></i>
    <i class="fas fa-times" id="sing-two"></i>
  </label>
  <h1>Trilum</h1>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/oferte">Oferte</a></li>
    <li><a routerLink="/contact">Contactează-ne</a></li>
    <li><a routerLink="/bag"><i class="fas fa-shopping-cart"></i></a></li>
    <li class="search-icon">
      <input type="search" placeholder="Search">
      <label class="icon">
        <span class="fas fa-search"></span>
      </label>
    </li>
  </ul>
</nav>


