<div class="page__container">
    <div class="product__title">
    <div class="title">
      <div></div>
      <div>Product details</div>
      <div>Color</div>
      <div>Quantity</div>
      <div>Price</div>
      <div>Total Price</div>
    </div>
    </div>
  <div class="product__container">
    <div class="product">
      <div id="bug__img"><img src="https://eskipaper.com/images/images-2.jpg"></div>
      <div id="bug__product">
        <div>Asics Fade T Shirt Mens</div>
        <div>Black</div>
        <div class="trash-icon"> <i class="far fa-trash-alt"></i> Remove</div>
      </div>
      <div id="bug__color">Black</div>
      <div id="bug__quantity">
        &nbsp;<i class="fas fa-minus" (click)="value('minus')"></i>&nbsp;
        <input type="number" id="quantity" name="quantity" min="0" max="5" value="{{quantity}}">&nbsp;
        <i class="fas fa-plus" (click)="value('plus')"></i>
      </div>
      <div id="bug__price">200 Lei</div>
      <div id="bug__totalPrice">600 Lei</div>
    </div>
  </div>

  <div class="pay__container">
    <div class="item__container">
      <div>5 items</div>
      <div>38 Lei</div>
    </div>
    <div class="item__container">
      <div>Total</div>
      <div>38 Lei</div>
    </div>
    <label for="fname">Numele :</label>
    <input type="text" id="fname" name="fname">
    <label for="phone">Telefonul mobil :</label>
    <input type="text" id="phone" name="phone">
    <label for="mail">Email :</label>
    <input type="text" id="mail" name="mail">
    <button type="button">Cumpară</button>
  </div>
</div>


