.container {
  display: grid;
  grid-template-columns: 20% 80%;
}
img{
  height:auto;
  width:50%;
  justify-self: center;
  align-self: center;
}
@media (max-width: 800px) {
  .container{
    grid-template-columns: none;
  }
}
