<div class="corouselTemp">
  <div class="wrapper">
    <section id="section1">
      <a (click)="onClickMe('left')" class="arrow__btn">‹</a>
      <div class="item">
        <img src="{{fruits[i]}}"/>
      </div>
      <div class="item">
        <img src="{{fruits[i]}}"/>
      </div>
      <div class="item">
        <img src="{{fruits[i]}}"/>
      </div>
      <div class="item">
        <img src="{{fruits[i]}}"/>
      </div>
      <div class="item">
        <img src="{{fruits[i]}}"/>
      </div>
      <a (click)="onClickMe('right')" class="arrow__btn">›</a>
    </section>
  </div>
</div>

